<section>
  <div class="card">
    <ul class="list-group list-group-flush">
      {{#each this}}
      <li class="list-group-item comment">
        <p class="card-text">{{comment_text}}</p>
        <p class="blockquote-footer">{{user.username}} • {{format_date created_at}}</p>
      </li>
      {{/each}}
    </ul>
  </div>
</section>