{{!-- New Post --}}
<section>
  <h2>Create New Post</h2>

  <form class="card" id="form-new-post">
    <div class="mb-3">
      <label for="form-title" class="form-label">Title</label>
      <input type="text" class="form-control" id="form-title" name="post-title">
    </div>

    <div class="mb-3">
      <label for="form-content" class="form-label">Content</label>
      <input type="text" class="form-control" id="form-content" name="post-content">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>

{{#if posts.length}}
  <section>
    <h2>Your Posts</h2>
    <ol class="list">
      {{#each posts as |post|}}
        <li>
          {{> post-info post}}
          <a href="/dashboard/edit/{{post.id}}" class="btn btn-primary">Edit post</a>
        </li>
      {{/each}}
    </ol>
  </section>
{{/if}}

<script src="javascript/add-post.js"></script>