{{!-- Login Form --}}
  <form class="card" id="form-login">
    <div class="mb-3">
      <label for="email-login" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email-login">
    </div>

    <div class="mb-3">
      <label for="password-login" class="form-label">Password</label>
      <input type="password" class="form-control" id="password-login">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>

{{!-- Sign Up Form --}}
  <form class="card" id="form-signup">
    <div class="mb-3">
      <label for="form-username" class="form-label">Username</label>
      <input type="text" class="form-control" id="form-username">
    </div>

    <div class="mb-3">
      <label for="email-signup" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email-signup">
    </div>

    <div class="mb-3">
      <label for="password-signup" class="form-label">Password</label>
      <input type="password" class="form-control" id="password-signup">
    </div>

    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>

<script src="../public/javascript/login.js"></script>