
{{> post-info post}}

{{#if loggedIn}}
  <div class="card-comment">

    <form id="form-comment">
      
      <div class="text-comment">
        <textarea name="comment-body"></textarea>
      </div>

      <div class="btns-comment">
        <button type="submit">Add a comment</button>
        <button type="button" id="btn-upvote">⬆</button>
      </div>

    </form>

  </div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
  <script src="../public/javascript/comment.js"></script>
  <script src="../public/javascript/upvote.js"></script>
{{/if}}
