
{{> post-info post}}

{{> comments post.comments}}

{{#if loggedIn}}
<form class="card" id="form-comment">
  <div class="mb-3">
    <label for="comment-body" class="form-label">Example textarea</label>
    <textarea class="form-control" id="comment-body" rows="3" name="comment-body"></textarea>
  </div>

  <button type="button" class="btn btn-primary">⬆ vote</button>
  <button type="submit" class="btn btn-primary">Add a comment</button>
</form>
{{/if}}

{{#if loggedIn}}
  <script src="javascript/comment.js"></script>
  <script src="javascript/upvote.js"></script>
{{/if}}
